<body>
    <%- include('../partials/menu')  %>

    <%- include('../partials/perfil')  %>

    <%- include('../partials/informacion')  %>

    <%- include('../partials/experiencia')  %>

    <%- include('../partials/contacto')  %>

    <%- include('../partials/scripts') %>

    <script src="/js/inicio.js"></script>
</body>